#wow {
}

#splash {
	/*border-bottom: solid 1px #ddd;*/
	/*background-color: #222*/
}

.desc {
	/* text-shadow: 0px 0px 2px rgba(0, 131, 255, 0.53); */
}

.headernav {
}

.vr {
}

/*.ellipsis {
	background-color: rgb(58, 51, 60);
  color: white;
  padding: 3px;
  border-radius: 2px;

}*/


.getStarted {
}


.npm {
}



#marterial {
	/*background: linear-gradient(#27C6F9 80%, #0CB5EB 100%);*/
	/*background-attachment: fixed;*/
}
.demoheader .CodeMirror {
}
.runbutton {
}



.demo {

}

.hint {

}

body {
}

hr {

}

a {
}

.manyLanguages {
	/*color: #C8D1F3;*/
}

button {

}

button:hover {
}

@media (max-width: 914px) {

	button:hover {
		background: rgba(255,255,255,.3);
		border: solid 1px #fff;
	}

	.desc {
	  color: #FFFFFF;
	  text-shadow: 0px 0px 3px rgba(58, 58, 58, 1);
	}


	/*#splash {
		background-color: #27C6F9;
	}*/
}