body, html{
	position: absolute;
	top: 0;
	margin: 0;
	width: 100%;
	font-family: Lato;
	font-weight: 300;
}

#slogan {
    text-align: center;
    margin-top: -26px;
    color: #fff;
}

#splash {
    overflow: hidden;
    background-color: #425565;
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
}

#logo-wrap {
	margin-top: 50px;
	text-align: center;
	position: relative;
}

#demo-instructions {
	display: none;
}

#logo-canvas {
    margin-left: auto;
    margin-right: auto;
    pointer-events: none;
    z-index: 0;
    position: absolute;
}

#logo-img {
	max-width: 100%;
}

.get-started-wrap {
	text-align: center;
	position: relative;
	padding: 0 20px;
}

.get-started {
    display: inline-block;
    color: #714d26;
    background: #fff;
    padding: 17px 25px;
    font-size: 30px;
    margin: 50px 0;
    border-radius: 7px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

#demo-title {
	padding: 40px 0;
	color: #714d26;
	font-size: 30px;
	// text-align: center;
}


#options {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #3580c0;
    padding: 0 15px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.option {
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}

.option.selected {
    color: #3580c0;
    background: #d8edff;
    font-weight: 400;
}

#input {
	max-width: 100%;
	box-sizing: border-box;
	padding: 20px;
	margin-top: 30px;
    border: 1px solid #ddd;
}

#input-overlay {
	position: absolute;
	max-width: 100%;
	box-sizing: border-box;
	margin-top: 30px;
	padding: 20px;
}

#github {
	height: 1em;
	width: 1em;
    margin-bottom: -3px;
    margin-right: 10px;
}

#github path {
	fill: #826f5c;
}

#demo-content > #arrow {
	text-align: center;
    font-size: 30px;
    color: #826f5c;
	flex: 0;    
}

#arrow::before {
	content: '\2193'
}

#output {
	max-width: 100%;
	box-sizing: border-box;
	padding: 20px;
}

#output-overlay {
    white-space: pre;
    font-family: Monaco, monospace;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: scroll;
    border: 20px solid transparent;
    box-sizing: border-box;
}

#clickme {
    color: #2374b7;
    text-decoration: underline;
    cursor: pointer;
}

#footer {
    color: #826f5c;
    background-color: #f6f6f6;
    text-align: right;
    padding: 0 20px;
}

#lengle {
    margin-top: 8%;
    margin-bottom: 8%;

    line-height: normal;
    display: inline-block;
    vertical-align: middle;
}

#lengle img {
    height: .7em;
}

#demo-content > div {
	position: relative;
	flex: 1;
	border: 20px solid transparent;
}

#drop-instructions-main {
	display: none;
}

.commentary {
    position: relative;
    padding: 20px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
	line-height: 180%;
    letter-spacing: .5	px;
}

#output-text {
    margin: 0px;
    width: 100%;
    min-height: 200px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ddd;
}

#demo-instructions {
	border: 1px solid #dadada;
    padding: 20px;
}

#log > div {
    color: #313131;
    border-top: 1px solid #dadada;
    padding: 10px 0;
    display: flex;
}
#log > div:first-child {
    border: 0;
}


#log .status {
	min-width: 250px;
}
#log {
    border: 1px solid #dadada;
    padding: 20px;
    overflow: auto;
}

#log progress {
    display: block;
    width: 100%;
    transition: opacity 0.5s linear;
}
#log progress[value="1"] {
    opacity: 0.5;
}


#footer {
    color: #ffffff;
    background-color: #f6f6f6;
    text-align: right;
    padding: 0 20px;
    background-color: #425565;
    background: url(../img/bg.jpg);
    background-size: cover;
    background-position: bottom;
}

#footer a {
	color: white !important;

}

@media (min-width: 900px) {
	
	#drop-instructions-main {
	    display: block;
	    text-align: center;
	    color: #b1a79c;
	}

	#demo-content {
		display: flex;
		align-items: center;
	}

	#input, #input-overlay {
		margin-top: 0;
	}

	#arrow::before {
		content: '\2192';
	}

	#options {
		margin: 40px auto;
	}

	// #demo-title {
	// 	width: 250px;
	// 	background: #fff;
	// 	margin-top: -70px;
	// 	margin-left: 40px;
	// 	position: relative;
	// 	padding: 20px 0;
	// }

	// #demo-title::after {
	//     border-right: 40px solid transparent;
	//     border-bottom: 70px solid white;
	//     content: ' ';
	//     position: absolute;
	//     top: 0;
	//     left: 100%;
	// }

	// #demo-title::before {
	//     border-left: 40px solid transparent;
	//     border-bottom: 70px solid white;
	//     content: ' ';
	//     position: absolute;
	//     top: 0;
	//     left: -40px;
	// }

	// body {
	// 	box-sizing: border-box;
	// 	border: 20px solid #425565;
	// }
}